$brown-1: #101d2c;
$brown-2: #b28451;

$dark-blue: #c69963;

$grey-1: #f9f7f6;
$grey-2: #aaa;

$grey-4: #54483a;
$grey-5: #6d5b4d;

$bp-largest: 75em; //1200px
$bp-large: 50em; //800px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
